<div class="sidebar">     
    <h2 class="sidebar-title">RECENT POST</h2>
    {% for post in site.posts limit:5 %}
        <div style="padding: 5px 0;">
            <a href="{{ post.url }}">{{ post.title | upcase }}</a>
        </div>
    {% endfor %}

    <h2 class="sidebar-title" style="margin-top: 55px;">TAGS</h2>

    {% for tag in site.tags %}
        <a href="" class="sidebar-item">{{ tag | first | upcase }}</a>
    {% endfor %}
</div>