<!DOCTYPE html>
<html lang="en">

{% include head.html%}

<body>
    {% include header.html %}

    <div class="container content-wrapper">
        <div class="post-list">
        {% for post in paginator.posts %}
            <h1 class="post-title">
                <a href="{{ post.url }}">{{post.title | upcase }}</a>
            </h1>
            
            <div class="post-description">{{ post.description | markdownify }}<a style="color: #FEB72B" href="{{ post.url }}">Read More</a></div>

            

            <div style="margin-bottom: 55px;">
                <span style="margin-right: 34px; color: rgb(156, 156, 156);">{{ post.date | date:"%b %d, %Y" }} · {% assign words = content | number_of_words %}
                    {% if words < 360 %}
                      1
                    {% else %}
                      {{ words | divided_by:180 }}
                    {% endif %}
                    min</span>
                <div class="post-tag-list">
                {% for tag in post.tags %}
                    <a href="#" class="post-tag">{{ tag | upcase }}</a>
                {% endfor %}
                </div>
            </div>
    
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | relative_url }}">« Previous</a>
            {% else %}
                <span>Previous</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <span>{{ page }}</span>
                {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | relative_url }}">Next »</a>
            {% else %}
                <span>Next</span>
            {% endif %}
            </div>
            {% endif %}
        </div>

        {% include sidebar.html %}
    </div>

    {% include footer.html %}

</body>
</html>